<?xml version="1.0"?>
<!--
/*! (c) jTorm and other contributors | www.jtorm.com/license */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Webmakkers\Jtorm\Model\HtmlTemplateConfig" type="Webmakkers\Jtorm\Model\Config\Config">
        <arguments>
            <argument name="layoutConfig" xsi:type="array">
                <item name="Magento_Checkout/template/minicart/content.html" xsi:type="string">\Webmakkers\JtormTheme\Model\HtmlTemplate\DataProvider\Magento\Checkout\Minicart\Content</item>
            </argument>
            <!-- Scope = path to theme -->
            <argument name="scope" xsi:type="array">
                <item name="1" xsi:type="string">Magento/luma/en_US/</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Webmakkers\Jtorm\Model\HtmlTemplateConfigPool" type="Webmakkers\Jtorm\Model\Config\ConfigPool">
        <arguments>
            <argument name="config" xsi:type="array">
                <item name="html_template_config" xsi:type="object">\Webmakkers\Jtorm\Model\HtmlTemplateConfig</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Webmakkers\Jtorm\Plugin\Magento\Framework\App\View\Asset\MaterializationStrategy\Symlink\ProcessHtml">
        <arguments>
            <argument name="configPool" xsi:type="object">\Webmakkers\Jtorm\Model\HtmlTemplateConfigPool</argument>
        </arguments>
    </type>
    <type name="Webmakkers\Jtorm\Plugin\Magento\Framework\App\View\Asset\MaterializationStrategy\Copy\ProcessHtml">
        <arguments>
            <argument name="configPool" xsi:type="object">\Webmakkers\Jtorm\Model\HtmlTemplateConfigPool</argument>
        </arguments>
    </type>
</config>
